body {
    background-color: #2E294B;
    font-family:Arial, "Microsoft JhengHei", "LiHei Pro", PingFang, sans-serif;
}

#logo {
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px;
    margin: 0 auto;
    size: auto;
}

.episode {
    width: 30rem;
    margin: 0 auto;
    margin-bottom: 24px;
}

.episode h3 {
    color: #40AEDD;
    margin-top: 4px;
    margin-bottom: 4px;
}

.episode h4 {
    color: #B4B3BF;
    margin-top: 4px;
    margin-bottom: 4px;
}

.episode p {
    color: #FDFDFD;
    margin-top: 4px;
    margin-bottom: 4px;
}

.episode a {
    color: #40AEDD;
}
