<html>
    <head>
        <title>{{= it.title}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
        <meta charset="utf-8" />
        <meta property="og:title" content="{{= it.title}}" />
        <meta property="og:description" content="{{= it.description}}" />
        <meta property="og:site_name" content="{{= it.title}}" />
        <meta property="og:url" content="https://{{= it.domain}}/" />
        <meta property="og:image:secure_url" content="https://{{= it.domain}}/assets/logo.png" />
    </head>
    <body>
        <a href="/"><div id="logo"></div></a>
        {{~it.episodes :episode:index}}
            <div class="episode">
                <a href="/episodes/{{= episode.episode}}.html"><h3>{{= episode.title}}</h3></a>
                <h4>{{= episode.pubDate}}</h4>
                <p>{{= episode.description}}</p>
            </div>
        {{~}}
    </body>
</html>